@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.root-layout {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #FFDADA;
  font-family: 'Roboto', sans-serif;

  --color-primary: #F70F0F
}

@media screen and (max-width: 768px) {

  .calculator-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 32px 12px 32px;
}

.navbar ul {
  gap: 16px;
  color: black;
  list-style: none;
  display: flex;
  margin-top: 8px;
}

.nav-btns {
  padding: 12px;
  text-align: center;
  color: #17181A;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 25px;
  transition-duration: 400ms;
}

.nav-btns:hover {
  color: #FFDADA;
  background-color: #17181A;
}

.home {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.home h2 {
  font-size: 3rem;
  margin-bottom: 24px;
}

.quote {
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 24px;
}

.calculator-histories {
  text-align: start;
  width: 80%;
}

.calculator {
  width: 100%;
  max-width: 320px;
  margin: 12px;
}

.result {
  min-height: 200px;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 2rem;
  color: white;
  font-weight: 600;
  padding: 12px 18px 12px 16px;
  border: none;
  background-color: #17181A;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: -6px -2px 40px 3px rgb(56, 56, 56);
}

.calculator-btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 8px 12px 12px 12px;
  border: none;
  gap: 1px;
  color: var(--color-primary);
  background-color: #17181A;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: -6px 30px 40px 3px rgb(56, 56, 56);
}

.calculator-btns > * {
  aspect-ratio: 1/1;
  font-size: 1.25rem;
  border: none;
  margin: 8px;
  border-radius: 12px;
  color: #ff5c5c;
  background-color: #303137;
  cursor: pointer;
}

.calculator-btns > *:hover{
  color: #B20000;
  background-color: #ff5c5c;
}

.calculator-btns .btn-zero {
  grid-column: span 2;
  aspect-ratio: 2/1;
}

.calculator-btns .btn-equal {
  color: white;
  background-color: #FF1919;
}

.backgroundBtns {
  background-color: #B20000;
}

.backgroundBtns-secondary {
  background-color: #5D5F60;
}
